doctype html
html
    head 
        title Login with Webex Sample
    body 
        h1 Login with Webex Sample
        p Logged In: 
            input(type='checkbox' disabled checked=loggedIn)
        p Webex Access Token: #{webexAccessToken}
        p UserInfo Email: #{userInfoEmail}
        p Webex Display Name: #{webexDisplayName}


